{% extends "base.html" %}
{% block main %}
<h1>Translate Link</h1>
<form method="post">
  <div class="form-group">
    <label for="key">Message key</label>
    <input class="form-control" id="key" name="key" placeholder="message-key">
  </div>
  <div class="form-group">
    <label for="language-code">Language code</label>
    <input class="form-control" id="language-code" name="language-code" placeholder="en">
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('index_show') }}">
    Show translate links
  </button>
  <button
    type="submit"
    class="btn btn-primary"
    formaction="{{ url_for('index_redirect') }}">
    Redirect to translate page
  </button>
</form>
{% endblock %}
